@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Oswald&family=Source+Sans+Pro&display=swap');

#main {
    width: 960px;
    margin: auto;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: repeat(4, auto);
}
header {
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
}

#title {
    font-family: "IM Fell French Canon", 'Times New Roman', serif;
    font-size: 2.5em;
}
#subtitle {
    font-family: "Oswald", Courier, monospace;
    font-size: 1.5em;
}
#img-div {
    grid-column: 2/3;
    grid-row: 2/3;
}
#image {
    width: 100%;
    height: auto;
    border: 5px solid lightgray;
}
figcaption {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 0.8em;
    width: 100%;
    background-color: lightgray;
    border: 5px solid lightgray;
    text-align: center;
}
#tribute-info {
    grid-column: 2/3;
    grid-row: 3/4;
}
h3 {
    font-family: "IM Fell French Canon", 'Times New Roman', serif;
    font-size: 2em;
}
h4 {
    font-family: "IM Fell French Canon", 'Times New Roman', serif;
    font-size: 1.75em;
}
ul {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
}
#footer {
    grid-column: 2/3;
    grid-row: 4/5;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
    border: 10px solid lightgray;
    background-color: lightgray;
}